@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --color-white: hsl(0, 0%, 98%);
  --color-gray: hsl(0, 0%, 41%);
  --color-black: hsl(0, 0%, 8%);

  --font-normal: 500;
  --font-bold: 700;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Epilogue', sans-serif;
}

body {
  position: relative;
  background-color: var(--color-white);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: var(--font-normal);
  color: var(--color-gray);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-gray);
}

button {
  font-family: inherit;
  font-size: inherit;
}

.header.header--open {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
}

.header__container {
  background-color: var(--color-white);
  margin-left: calc(100vw - 15rem);
  height: 100%;
}

.header__image {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.header__open {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.header__open.header__open--invisible {
  display: none;
}

.header__close {
  display: none;
}

.header__close.header__close--visible {
  display: block;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.header__section {
  display: none;
}

.header__section.header__section--visible {
  display: block;
  padding: 5rem 0 0 1.5rem;
}

.header__item {
  margin-bottom: 1rem;
}

.header__arrow.header__arrow--up {
  content: url(images/icon-arrow-up.svg);
}

.header__feature,
.header__company {
  display: none;
}

.header__feature.header__feature--open,
.header__company.header__company--open {
  display: block;
}

.header__more {
  margin: 1rem 0 1rem 1rem;
}

.header__icon {
  display: grid;
  grid-template-columns: 1.5rem auto;
}

.header__account {
  display: none;
}

.header__account.header__account--visible {
  display: block;
}

.header__login,
.header__register {
  display: block;
  width: calc(100% - 3rem);
  margin: 0 1.5rem;
  border-radius: 1rem;
  padding: 1rem 0;
  background-color: var(--color-white);
  color: var(--color-gray);
  border-color: var(--color-gray);
}

.header__login {
  border: none;
}

.main {
  text-align: center;
}

.main__head {
  padding-top: 5rem;
}

.main__image {
  content: url(images/image-hero-mobile.png);
}

.main__h1 {
  font-weight: var(--font-bold);
  margin: 2rem 1rem;
}

.main__p {
  margin: 2rem;
}

.main__button {
  margin: 0 1.5rem;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  font-weight: var(--font-bold);
}

.main__client {
  display: flex;
  /* width: 100%; */
  margin: 3rem 2rem;
  justify-content: space-between;
}

.footer {
  text-align: center;
}