@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);

  --font-size: 18px;
  --font-medium: 500;
  --font-bold: 700;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-weight: normal;
  font-family: 'Epilogue', sans-serif;
  background-color: var(--Almost-White);
}

ul {
  padding: 0;
}

li {
  color: var(--Medium-Gray);
  list-style: none;
}

h1 {
  font-weight: var(--font-bold);
  color: var(--Almost-Black);
}

p {
  font-weight: var(--font-medium);
  color: var(--Medium-Gray);
}

button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.5rem 1rem;
}

.header__menu-open {
  margin-left: auto;
}

.header__menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.header__menu--open {
  display: block;
}

.header__list-item {
  display: flex;
  align-items: center;
}

.header__list-arrow {
  margin-left: .5rem;
}

.header__button {
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {

  .header__logo {
    margin-top: 1rem;
  }

  .header__menu-open,
  .header__menu-close {
    display: none;
  }

  .header__menu,
  .header__list,
  .header__button-container {
    display: flex;
  }

  .header__menu {
    width: 85%;
    max-width: 75.75rem;
  }

  .header__list li::after {
    content: '';
    display: inline-block;
    width: clamp(.5rem, 2vw, 2.5rem);
  }

  .header__button-container {
    margin-left: auto;
  }
}