@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);

  --font-size: 18px;
  --font-medium: 500;
  --font-bold: 700;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-weight: normal;
  font-family: 'Epilogue', sans-serif;
  background-color: var(--Almost-White);
}

h1 {
  font-weight: var(--font-bold);
  color: var(--Almost-Black);
}

p {
  font-weight: var(--font-medium);
  color: var(--Medium-Gray);
}

a {
  text-decoration: none;
  color: var(--Medium-Gray);
}

button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1.5rem 1rem;
}

.header__menu.header__menu--opened {
  display: block;
}

.header__menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  padding: 1.5rem;
  background-color: var(--Almost-White);
}


.header__menu::after {
  content: 'tes';
  background-color: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: clamp(100%, 100vh, 100vh);
  margin-left: -100vw;
}

.header__close {
  text-align: right;
}

.header__item {
  margin-bottom: 2rem;
}

.header__more.header__more--open {
  display: block;
}

.header__more {
  display: none;
}

.header__arrow {
  margin: .2rem;
}

.header__icon {
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.header__icon--grid {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: .5rem;
}

.header__icon--grid>img {
  margin: 0 auto auto auto;
}

.header__login,
.header__register {
  width: 100%;
  background-color: var(--Almost-White);
}

.header__login {
  border: none;
}

.section>* {
  max-width: 100%;
}

.section__image>* {
  width: 100%;
}

.section__button {
  border: none;
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
}

.section__list {
  display: flex;
  width: 100%;
  gap: 1.75rem;
}

.section__list img {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(max-width:450px) {
  .section__image>* {
    content: url(images/image-hero-mobile.png);
  }

  .section__body {
    margin: 1rem;
    text-align: center;
  }

  .section__button {
    margin-top: 1rem;
  }

  .section__list {
    margin-top: 3rem;
  }
}

@media(min-width:450px) {

  .section {
    display: flex;
    width: 100%;
    gap: clamp(.5rem, 10vw, 9.5rem);
    padding: 1rem;
  }

  .section>* {
    width: 50%;
  }

  .section__image {
    order: 2;
  }

  .section__body {
    order: 1;
  }
}

@media (min-width: 768px) {

  .header {
    display: flex;
    align-items: flex-start;
    margin: 1.5rem 2.5rem 0;
  }

  .header__logo {
    margin-top: 1rem;
  }

  .header__open,
  .header__close {
    display: none;
  }

  .header__menu.header__menu--opened {
    display: flex;
  }

  .header__menu {
    position: static;
    display: flex;
    padding: 0;
    width: 100%;
    margin-left: clamp(1.5rem, 3vw, 4rem);
  }

  .header__menu::after {
    display: none;
  }

  .header__list {
    display: flex;
    gap: clamp(.5rem, 2vw, 2.5rem);
  }

  .header__item {
    display: flex;
    align-items: center;
    position: relative;
  }

  .header__more {
    position: absolute;
    top: 2.5rem;
    background-color: var(--Almost-White);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: .5rem 1.5rem;
  }

  #moreFeatures {
    margin-left: -5rem;
  }

  .header__icon {
    margin: 1rem 0;
    width: max-content;
  }

  .header__button {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }

  .section {
    padding: 0 2.5rem;
    max-width: 76.5rem;
    margin: auto;
    align-items: flex-end;
  }

  h1 {
    max-width: 11ch;
    font-size: 4rem;
  }

  p {
    max-width: 45ch;
  }

  .section__list {
    gap: 2.5rem;
  }
}

@media (min-width: 935px) {
  .section__button {
    margin-top: 2.5vw;
  }

  .section__list {
    margin-top: 7vw;
  }
}